<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
	</head>
	<body>
		<header id='header'></header>
		<section class='container'>
			<div class='row'>
				<form>
					<div>
						UserName:
						<input type='text' id='username'>
					</div>
					<div>
						Password:
						<input type='password' id='password'>
					</div>
					<div>
						<button id='btn_log' type='button'>Login</button>
					</div>
				</form>
			</div>
		</section>
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		#parse('pagelet/LastJs.html')

		<script type='text/javascript'>
		$('#btn_log').click(function(){
			$.ajax({
				url: $().olxUtilRandomUrl('/u/login'),
				type: 'POST',
				dataType: 'json',
				data: {
					redirect: '$!{params.redirect}',
					data: JSON.stringify({
						domain: '$!{params.domain}',
						username: $('#username').val(),
						password: $('#password').val()
					})
				}
			}).done(function (data){
				// TODO
			});
		});
		</script>
	</body>
</html>