<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<style>
		#error {
			color: red;
		}
		</style>
	</head>
	<body>
		<header id='header'></header>
		<section class='container'>
			<div class='row'>
				<form method='get' action='/u/auth' onsubmit='return frmVali();'>
					<div id='error'>$!{error}</div>
					<div>
						<input type='hidden' name='domain' value='$!{params.domain}'>
					</div>
					<div>
						<input type='hidden' name='redirect' value='$!{params.redirect}'>
					</div>
					<div>
						UserName:
						<input required='required' type='text' id='username' name='username'>
					</div>
					<div>
						Password:
						<input required='required' type='password' id='password' name='password'>
					</div>
					<div>
						<button id='btn_log' type='submit'>Login</button>
					</div>
				</form>
			</div>
		</section>
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		#parse('pagelet/LastJs.html')
		<script type='text/javascript'>
		function frmVali(){
			return false;
		}
		</script>
	</body>
</html>