<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
	</head>
	<body>
		<header id='header'></header>
		<section class='container'>
			<div class='row'>
				<form>
					<div>
						UserName:
						<input type='text'>
					</div>
					<div>
						Password:
						<input type='password'>
					</div>
					<div>
						<button>Login</button>
					</div>
				</form>
			</div>
		</section>
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		#parse('pagelet/LastJs.html')
	</body>
</html>